.container-subscription {
    width: 450px;
    height: 600px;
    border: solid white 5px;
    border-radius: 25px;
    margin-top: 25px;
    overflow: hidden;
}

.free-container{
    margin-left: 125px;
}

@media only screen and (max-width: 600px) {
    .container-subscription {
        width: 365px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .bullet-points{
        font-size: 20px !important;
    }
    .subscribe button {
        width: 310px !important;
        transform: translate(0px,25px);
    }
    .pricing{
        transform: translate(-25px,25px);
    }
    .disclaimer{
        transform: translate(0,25px);
    }
    .free{
        transform: translate(0,75px);
    }
}

.container-buttons {
    font-size: 32px;
}

.container-header {
    background-color: white;
    width: 100%;
    border-top-left-radius:12px;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}

.container-header a {
    color: black !important;
    transition: ease-in-out 0.3s;
}

.bullet-points{
    font-size: 24px;
}

.bullet-points ul li{
    margin-left: 25px;
    margin-top: 25px;
}

.pricing{
    width: 100%;
    margin-top: 25px;
    margin-left: 50px;
}

.price{
    font-size: 48px;
    display: inline-block;
    margin-left: 25px;
}

.per-text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
    margin-top: -10px;
}

.disclaimer{
    font-size: 16px;
}

.free{
    margin-top: 80%;
    font-size: 48px;
}

.user-details{
    font-size: 24px;
    margin-top: 25px;   
}

.email, .password{
    margin-left: 25px;
    margin-bottom: 15px;
}

.email input, .password input {
    width: 390px;
    border-radius: 10px;
    height: 50px;
    padding-left: 12px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    margin-top: 5px;
    color: gray !important;
}

.alter {
    width: 390px;
    margin-left: 25px;
}

.alter button {
    width: 390px;
    border-radius: 10px;
    border: white 5px solid;
    background: none;
    padding: 2px 25px 2px 25px;
    transition: ease-in-out 0.3s;
}

.alter button:hover {
    width: 390px;
    color: black !important;
    border-radius: 10px;
    border: white 5px solid;
    background: white;
    padding: 2px 25px 2px 25px;
    transition: ease-in-out 0.3s;
}

.logout {
    width: 390px;
    margin-left: 25px;
    margin-top: 169px;
}

.logout button {
    width: 390px;
    color: black !important;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 2px 25px 2px 25px;
}