<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - teachingtools</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/teachingtools.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <!-- image retrieved from Olga Novoseletska, n.d -->
                    <img title="Home Page" src="images/logo.png"/>
                    <!---->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a title="Dashboard Page" class="nav-link" asp-area="" asp-page="/Dashboard">Dashboard</a>
                            </li>
                        }
                        else
                        {
                            
                        }
                        <li class="nav-item">
                            <a title="Subscriptions Page" class="nav-link" asp-area="" asp-page="/Subscriptions">Subscriptions</a>
                        </li>
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a title="Account Page" class="nav-link" asp-area="" asp-page="/Account">Account</a>
                            </li>
                        }
                        else
                        {
                            
                        }
                        <li class="nav-item">
                            <a title="Frequently Asked Questions Page" class="nav-link" asp-area="" asp-page="/FAQ">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="padding-container">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>