@page
@model teachingtools.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm my-auto">
        <div class="container-dashboard">
            <div class="container-buttons">
                <div class="row">
                    <div class="col d-inline text-center align-middle container-header">
                        <a>Your Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="option">
                    <a asp-page="/Logic">
                        <div title="Logic Gate Simulator"  class="wrapper">
                            <img src="/images/XNOR.svg" />
                            <div class="row">
                                <div class="optiondescription">
                                    Logic Gate Simulator
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Pathing Algorithms" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                Pathing Algorithms
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Vertex Coloring" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                Vertex Coloring
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Sorting Algorithms" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                Sorting Algorithms
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Binary" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                Learn Binary
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Object Oriented Programming" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                OOP
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="Cyber Security" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                Cyber Security
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comingsoon" class="option">
                    <div class="comingsoon">
                        Coming<br />
                        Soon
                    </div>
                    <div title="User Experience" id="comingsoon" class="wrapper">
                        <div class="row">
                            <div id="comingsoon" class="optiondescription">
                                User Experience
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
