@page
@model teachingtools.Pages.DashboardModel
@{
}

<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm my-auto">
        <div class="container-dashboard">
            <div class="container-buttons">
                <div class="row">
                    <div class="col d-inline text-center align-middle container-header">
                        <a>Your Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="option">
                    <a asp-page="/Logic">
                        <div title="Logic Gate Simulator"  class="wrapper">
                            <img src="/images/XNOR.svg" />
                        </div>
                    </a>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
                <div class="option">
                    <div class="wrapper">
                        Coming<br />Soon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
