@page
@model teachingtools.Pages.FAQModel
@{
    ViewData["Title"] = "FAQs";
}

<link rel="stylesheet" href="~/css/faq.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm my-auto">
        <div class="container-faq">
            <div class="container-buttons">
                <div class="row">
                    <div class="col d-inline text-center align-middle container-header">
                        <a>FAQs</a>
                    </div>
                </div>
                <div class="row">
                    <div class="bullet-points">
                        <ul>
                            <li>
                                What is Teaching Tools?
                                <p>Teaching Tools is a service that allows teachers or students to learn various topics within the computing industry.</p>
                            </li>
                            <li>
                                How do I subscribe to Teaching Tools?
                                <p>Simply head to Subscriptions page, Select your subscription plan and press Buy Now, You will then be taken to a check out page. Once you press pay with card you can enter your details and you'll be sorted.<p>
                            </li>
                            <li>
                                How do I cancel my subscription?
                                <p>Head to your account page. On the left-hand side you can find the cancel subscription button.</p>
                            </li>
                            <li>
                                Will I lose my benefits when cancelling my subscription?
                                <p>Your subscription benefits won't run out until the renewal date as long as the length of the subscription term was over 24 days for the Monthly plan or 11 months for the Yearly plan.</p>
                            </li>
                            <li>
                                What if I didn't want to renew but I have been charged for the subscription?
                                <p>You're entitled to cancel and recieve a full refund within the first 7 days of your subscription plan. This goes for both Monthly and Yearly subscription plans.</p>
                            </li>
                            <li>
                                How do I use the logic gate simulator?
                                <p>All actions on the logic gate simulator are performed by CLICKING on an element. If you want to enable an input then you must Double CLICK onto the desired input.</p>
                            </li>
                            <li>
                                How do I log out?
                                <p>Head to Account >> Log Out button at the bottom of the page</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>