@page
@model teachingtools.Pages.FAQModel
@{
    ViewData["Title"] = "FAQs";
}

<link rel="stylesheet" href="~/css/faq.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm my-auto">
        <div class="container-faq">
            <div class="container-buttons">
                <div class="row">
                    <div class="col d-inline text-center align-middle container-header">
                        <a>FAQs</a>
                    </div>
                </div>
                <div class="row">
                    <div class="bullet-points">
                        <ul>
                            <li>
                                Limited access to some topics
                            </li>
                            <li>
                                Limited access to some topics
                            </li>
                            <li>
                                Limited access to some topics
                            </li>
                            <li>
                                Limited access to some topics
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>