@page
@model teachingtools.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="row">
    <div class="col-sm align-middle my-auto">
        <div class="text-center align-middle">
            <h1 class="display-8">Welcome to<br><b>Teaching Tools</b></h1>
        </div>
    </div>
    <div class="col-sm my-auto">
        <div class="container-details">
            @if (User.Identity.IsAuthenticated == false)
            {
                <div class="container-buttons">
                    <div class="row">
                        <div class="col d-inline text-center align-middle container-login">
                            <a id="login-text">Log In</a>
                        </div>
                        <div class="col d-inline text-center align-middle container-register">
                            <a id="register-text" asp-page="/Register">
                                <div class="text">
                                    Register
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <form asp-page-handler="Login" method="post">
                    <div id="container-input-login" class="container-input-login">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="container-email">
                                <input type="text" class="input-email" placeholder="eMail" asp-for="Input.Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-password">
                                <input type="password" class="input-password" placeholder="Password" asp-for="Input.Password" />
                                <div class="forgot-password">
                                    <a>Forgotten password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div onclick="login()" class="button">
                                Login
                                <button id="login" name="login" type="submit"></button>
                            </div>
                        </div>
                    </div>
                </form>
            }
            else
            {
                
            }
        </div>
    </div>
</div>

<script src="~/js/login.js" asp-append-version="true"></script>