@page
@model teachingtools.Pages.LogicModel
@{
	ViewData["Title"] = "Logic Gates";
}

<link rel="stylesheet" href="~/css/simstyle.css" asp-append-version="true" />

<div class="tools-navbar">
	<nav class="navbar navbar-expand-md">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<div class="navGroupTools">
						<button type="button" class="btn btn-outline-light Edit fw-bold" tool="Edit" onclick="activeTool(this)">
							Edit
						</button>
						<button type="button" class="btn btn-outline-light fw-bold" tool="Move" onclick="activeTool(this)">
							Move
						</button>
						<button type="button" class="btn btn-outline-light fw-bold" tool="Delete" onclick="activeTool(this)">
							Delete
						</button>
					</div>
					<div class="navGroupTools">
						<label type="button" class="btn btn-outline-light fw-bold" style="margin:0px">
							<input id="projectFile" type="file" />
								Load
						</label>
						<a download="LogicCircuit00" href="#" id="saveProjectFile">
							<button type="button" class="btn btn-outline-light fw-bold">
								Save
							</button>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!-- Fixed navbar -->
<div class="logic-container">
	<!-- Begin page content -->
	<div class="container-fluid">
		<div class="row">
			<div class="tools" style="">
				<div class="col choices">
					<div class="logicinputs">
						<button type="button" tool="LogicInput" title="Logic Input" onclick="activeTool(this)"
								class="pl-1">
							<img src="simulator/img/LogicInput.svg" class="ml-2" width="32">
						</button>
						<button type="button" tool="LogicOutput" title="Logic Output" onclick="activeTool(this)"
								class="pl-1">
							<img src="simulator/img/LogicOutput.svg" class="ml-2" width="32">
						</button>
					</div>
					<div class="logicgates">
						<div class="text-center align-middle">
							<h3 class="display-8 text-black fw-bold">Gates</h3>
						</div>
						<button type="button" tool="NOT" isGate="true" onclick="activeTool(this)" class="pl-1" title="NOT Gate">
							<img src="simulator/img/NOT.svg" width="50">
						</button>
						<button type="button" tool="AND" isGate="true" onclick="activeTool(this)" class="pl-1" title="AND Gate">
							<img src="simulator/img/AND.svg" width="50">
						</button>
						<button type="button" tool="NAND" isGate="true" onclick="activeTool(this)" class="pl-1" title="NAND Gate">
							<img src="simulator/img/NAND.svg" width="50">
						</button>
						<button type="button" tool="OR" isGate="true" onclick="activeTool(this)" class="pl-1" title="OR Gate">
							<img src="simulator/img/OR.svg" width="50">
						</button>
						<button type="button" tool="NOR" isGate="true" onclick="activeTool(this)" class="pl-1" title="NOR Gate">
							<img src="simulator/img/NOR.svg" width="50">
						</button>
						<button type="button" tool="XOR" isGate="true" onclick="activeTool(this)" class="pl-1" title="XOR Gate">
							<img src="simulator/img/XOR.svg" width="50">
						</button>
						<button type="button" tool="XNOR" isGate="true" onclick="activeTool(this)" class="pl-1" title="XNOR Gate">
							<img src="simulator/img/XNOR.svg" width="50">
						</button>
					</div>
				</div>
				<div class="canvas-container">
					<!-- Simulator Canvas -->
					<div id="canvas-sim"></div>
				</div>
			</div>	
		</div>
	</div>
</div>

<script src="vendor/js/p5.min.js"></script>
<script type="module" src="simulator/js/simulator.js"></script>
